// 头部排版


.head{
  width: 100%;
  height: 76px;
  box-shadow: 0 1px 3px #efefef;
}
.warp{
   width: 970px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.txt{
   height: 100%;
   line-height: 76px;
   display: flex;
   span{
      cursor: pointer;
   }
}
.warp ul{
  display: flex;
  >li{
     margin-left: 30px;
  }
}
@media screen and (max-width:780px) {
   .warp{
      width:780px;
   }
}

@media screen and (max-width:600px) {
  .warp{
     width:600px;
  }
}


