// 底部排版


.main{
  width: 100%;
  height: 100%;
  background: #efefef;
}
.warp{
   width: 970px;
   height: 100%;
   margin: 0 auto;
}
@media screen and (max-width:780px) {
  .warp{
     width:780px;
     background: red;
  }
}

@media screen and (max-width:600px) {
 .warp{
    width:600px;
    background: pink;
 }
}