*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
}

html,body,#root,.App{
  width: 100%;
  height: 100%;
}
.active{
   color: red;
}
.stair{
  width: 100%;
  height: 100%;
   display: flex;
   flex-direction: column;
}
main{
  height: 100%;
  background: #ccc;
}
